* {
    color: #202020;
}

// table {
//     width: 100%;
//     background-color: #fafafa;
// }

@mixin table($size, $bg) {
    width: $size;
    background-color: $bg;
}

table {
    @include table(100%, #fafafa)
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
    
    .mat-label {
        color: #202020;
    }
}

button {
    margin-top: 30px;
    border: 1.5px solid #202020;

    .mat-stroked-button {
        border: 1.5px solid #202020;
    }
}