<div class="post">
  <mat-card class="example-card">
    <mat-card-title
      >HTTP Refresher: Things You Should Know About HTTP</mat-card-title
    >
    <mat-card-subtitle>Anish Kumar</mat-card-subtitle>
    <mat-card-content>
      <p>
        HTTP(Hyper Text Transfer Protocol) is one of many protocols used for
        transferring data (think of html pages, text, images, videos and much
        more) across machines. There are other application layer protocols like
        FTP, SMTP, DHCP etc.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a routerLink="post">
        <button mat-stroked-button color="accent">Перейти</button>
      </a>
      <a routerLink="users">
        <button mat-stroked-button color="accent">Об авторе</button>
      </a>
      <a routerLink="/asd">
        <button mat-stroked-button color="accent">pageNotFound</button>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
