<div *ngFor="let post of posts" class="post">
  <mat-card class="example-card">
    <mat-card-title
      >{{post.title}}</mat-card-title
    >
    <mat-card-subtitle>{{post.user}}</mat-card-subtitle>
    <mat-card-content>
      <p>
        {{post.content}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a routerLink="post">
        <button mat-stroked-button color="accent">Перейти</button>
      </a>
      <a routerLink="users">
        <button mat-stroked-button color="accent">Об авторе</button>
      </a>
      <a routerLink="/**">
        <button mat-stroked-button color="accent">pageNotFound</button>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
