<div class="post">
  <h1>
    Разработчик игр на Unity: как начать работать с востребованным игровым
    движком
  </h1>
  <mat-card-subtitle>Нетология</mat-card-subtitle>
  <mat-card-content>
    <p>
      По данным сайта gamedatacrunch.com, в 2021 году 49,48% всех платных игр,
      вышедших в Steam, были сделаны на Unity. А в сфере мобильных игр этот
      показатель уже давно превысил 50%. В этом материале мы расскажем, почему
      движок стал настолько популярным, и объясним, почему начинающие
      разработчики и небольшие инди-команды предпочитают использовать Unity.
      Чтобы лучше разобраться в теме, мы поговорили с fullstack-разработчиком
      DECA Games Рашидом Гайнутдиновым и техническим геймдизайнером Banzai Games
      Дмитрием Лукичевым — они объяснили, какими достоинствами обладает Unity, и
      поделились полезными материалами для обучения.
    </p>
  </mat-card-content>
  <a routerLink="/">
    <button mat-stroked-button color="white">Вернутся</button>
  </a>
</div>

<app-comment></app-comment>
