<div class="post">
  <h1>HTTP Refresher: Things You Should Know About HTTP</h1>
  <mat-card-subtitle>Anish Kumar</mat-card-subtitle>
  <mat-card-content>
    <p>
      HTTP(Hyper Text Transfer Protocol) is one of many protocols used for
      transferring data (think of html pages, text, images, videos and much
      more) across machines. There are other application layer protocols like
      FTP, SMTP, DHCP etc. HTTP was invented alongside HTML to create the first
      interactive, text-based web browser: the original World Wide Web. In this
      article, we'll be covering the key concepts related to HTTP, which all
      developers should be aware of. HTTP/1.0 required to open up a new TCP
      connection for each request (and close it immediately after the response
      was sent). TCP connection in turn uses a three-way handshake to establish
      a reliable connection. The connection is full duplex(two way connection),
      and both sides synchronize (SYN) and acknowledge (ACK) each other.
    </p>
  </mat-card-content>
  <a routerLink="/">
    <button mat-stroked-button color="white">Вернутся</button>
  </a>
</div>
